.availble-languages-item{
    margin:0px 0px 10px 10px;
}

.language-filter-btn{
    height: 30px;
    width: 85px;
    background-color: transparent;
    border: 1px solid #939394;
    color: red;
    cursor: pointer;
    border-radius: 3px;
}
.active-language-filter-btn{
    background-color: red;
    border: none;
    color: #ffffff;
}