.seat-btn {
  cursor: pointer;
  margin-left: 8px;
  height: 30px;
  width: 30px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
  border-radius: 3px;
  border: 2px solid #00bfff;
  color: #00bfff;
}
.disable-btn {
  opacity: 0.5;
  margin-left: 8px;
  height: 30px;
  width: 30px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbfbfd;
  border-radius: 3px;
  border: 2px solid #00bfff;
  color: #00bfff;
  cursor: no-drop;
}
.active-seat-btn {
  background-color: #00bfff;
  color: #ffffff;
}
.seat-btn:hover {
  background-color: #00bfff;
  color: white;
}
.seat-icon {
  font-size: 30px;
}
.sold-seat-btn {
  margin-left: 8px;
  height: 30px;
  width: 30px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 3px;
  border: 2px solid #00bfff;
  color: white;
  border: none;
}
